@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --site-color: #d61414;
  --paragraph-color: #000;
  --white-color: #fff;
  --black-color: #303030;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #303030;
  height: auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4rem auto;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
strong a {
  display: inline !important;
  font-weight: 600 !important;
  font-size: inherit !important;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 1rem;
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--site-color);
}

.btn {
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  background: var(--site-color);
  color: #fff !important;
  text-decoration: none;
  margin: 4rem auto;
  display: inline-block !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container {
  width: 80%;
  max-width: 1366px;
  margin: 0 auto;
}

/* Header */
.header {
  min-height: 80px;
  width: 100%;
  background: var(--site-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 8rem;
}

.header:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #000000;
  opacity: 0.15;
  display: block;
  z-index: 999;
  bottom: 0;
  position: absolute;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-title {
  font-size: 1.8rem;
  color: var(--white-color);
}

.header .hamburguer-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .hamburguer-menu-wrapper .hamburguer-menu {
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background: var(--white-color);
  margin-right: 1rem;
  position: relative;
}

.header .hamburguer-menu-wrapper .hamburguer-menu:after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background: var(--white-color);
  margin-right: 1rem;
  position: absolute;
  top: -8px;
}

.header .hamburguer-menu-wrapper .hamburguer-menu:before {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background: var(--white-color);
  margin-right: 1rem;
  position: absolute;
  top: 8px;
}

.header .site-logo-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.header .search-form-wrapper {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 1rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search-form-wrapper img {
  mix-blend-mode: color-dodge;
}

.header .search-form-wrapper input {
  background: transparent;
  border: none;
  margin-left: 1rem;
  padding: 1rem 0rem;
  outline: none;
  color: var(--white-color);
  opacity: 0.7;
}

.header .search-form-wrapper input::-webkit-input-placeholder {
  color: var(--site-color);
}

.header .search-form-wrapper input:-ms-input-placeholder {
  color: var(--site-color);
}

.header .search-form-wrapper input::-ms-input-placeholder {
  color: var(--site-color);
}

.header .search-form-wrapper input::placeholder {
  color: var(--site-color);
}

.body-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 4rem;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.article-title {
  margin-bottom: 2rem;
}

.article-subtitle {
  font-size: 1.8rem;
  color: var(--black-color);
  opacity: 0.8;
}

.article-subtitle:after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--black-color);
  opacity: 0.2;
  display: block;
  margin: 2rem 0;
}

.article-date {
  font-size: 1.2rem;
  color: var(--black-color);
  opacity: 0.5;
  margin-bottom: 1rem;
}

.article-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-author,
.article-share-title {
  opacity: 0.6;
  text-transform: uppercase;
}

.article-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-share-title {
  margin-right: 1rem;
}

.article-share-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-share-social img {
  cursor: pointer;
  margin-left: 0.2rem;
}

.article-share-social img:first-child {
  margin-left: 0;
}

.article-content {
  margin-top: 8rem;
  line-height: 1.5;
}

.article-content a {
  opacity: 1;
  color: var(--site-color);
  font-weight: 400;
  text-decoration: none;
  margin: 2rem auto;
  display: block;
}

.article-content ul {
  margin: 2rem auto;
  padding-left: 3rem;
  list-style: inherit;
}

.article-content ul li {
  font-size: 1.8rem;
  list-style: inherit;
}

.article-content p {
  font-size: 1.8rem;
}

.article-content p strong {
  opacity: 1;
}

.article-content p a {
  margin: 0;
  display: inline !important;
  font-weight: inherit !important;
  font-size: inherit !important;
}

.article-content h2 {
  margin-bottom: 2rem;
}

.article-content blockquote {
  margin: 2rem auto;
  padding: 0 1rem;
}

.article-content blockquote .quote-text {
  font-style: italic;
  opacity: 0.8;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.article-content blockquote .quote-author {
  opacity: 1;
}

.article-content .article-imagem-wrapper {
  margin: 6rem auto;
}

.article-content .article-imagem-wrapper img {
  border-radius: 6px;
}

.article-content .article-imagem-wrapper .article-imagem-label {
  font-size: 1.2rem;
}

/* Comentários */
.article-comments {
  margin-top: 6rem;
}

.comments-title {
  font-weight: 400;
}

.comments-subtitle {
  font-size: 1.2rem;
  color: var(--black-color);
  opacity: 0.5;
}

.comment-item {
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.comment-author-name {
  font-size: 2rem;
}

.comment-author-name:after {
  content: attr(data-tempo);
  font-size: 14px;
  font-weight: 400;
  margin-left: 1rem;
}

.comment-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.comment-button {
  font-size: 1.6rem;
  margin-right: 1rem;
  cursor: pointer;
}

.comment-button.like::before {
  content: url("./assets/like.png");
  margin-right: 1rem;
  cursor: pointer;
}

.comment-button.aswer::before {
  content: url("./assets/responder.png");
  margin-right: 1rem;
  cursor: pointer;
}

.comment-button.report::before {
  content: url("./assets/flag.png");
  margin-right: 1rem;
  cursor: pointer;
}

/* Sidebar */
.sidebar-propaganda {
  margin-top: 4rem;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.last-news {
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 1rem solid var(--site-color);
}

.last-news-title {
  font-size: 2.6rem;
}

.last-news-title:after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--black-color);
  opacity: 0.2;
  display: block;
  margin: 2rem auto;
}

.last-news-type-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem auto;
}

.last-news-type-column a {
  font-size: 1.8rem;
}

.last-news-image {
  min-height: 80px;
  border-radius: 4px;
  border: 0px solid var(--site-color);
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.last-news-image:hover {
  border: 3px solid var(--site-color);
}

.last-news-image.new-1 {
  background: url("./assets/sidebar-noticia-1.jpg") no-repeat center center;
  background-size: cover;
}

.last-news-image.new-2 {
  background: url("./assets/sidebar-noticia-2.jpg") no-repeat center center;
  background-size: cover;
}

.footer {
  margin-top: 6rem;
}

.footer-top {
  background: var(--site-color);
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top .container .footer-title {
  margin: 0;
  color: #fff;
}

.footer-top .container .footer-social-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top .container .footer-social-follow p {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.footer-top .container .footer-social-follow > * {
  margin-left: 1rem;
}

.footer-bottom {
  background: var(--site-color);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2rem;
  position: relative;
}

.footer-bottom::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.footer-bottom .container .footer-copyright {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
}

.footer-bottom .container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .container .footer-links .footer-link-item {
  padding: 0 1rem;
  color: #fff;
  border-right: 1px solid currentColor;
}

.footer-bottom .container .footer-links .footer-link-item:first-child {
  padding-left: 0;
}

.footer-bottom .container .footer-links .footer-link-item:last-child {
  border: none;
}

.footer-bottom .container .footer-links .footer-link-item .footer-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .menu-title {
    display: none;
  }
  .body-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .search-form-wrapper {
    padding: 0.5rem 1rem;
  }
  .header .search-form-wrapper input {
    display: none;
  }
  .article-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .article-author {
    margin-bottom: 1rem;
  }
  .sidebar-propaganda {
    margin-top: 2rem;
    position: relative;
  }
  .footer-bottom {
    height: auto;
    padding: 2rem 0;
  }
  .footer-bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom .container .footer-copyright {
    margin-top: 4rem;
  }
  .footer-bottom .container .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom .container .footer-links .footer-link-item .footer-link {
    border: none;
  }
}
